<h2 class="row__title">State Management con React e Redux &ndash; Giovedì 5 Ottobre 2017</h2>

<div class="row row--2">
  <div class="row__column">
    <p>
      Durante il corso analizzeremo insieme le problematiche legate allo state management di applicazioni complesse con React. Dopo un'introduzione sulle architetture unilaterali e sul come risolvono alcuni dei problemi legati ai classici pattern MVC, ci concentremo su <a href="http://redux.js.org/" target="_blank">Redux</a>. Vedremo come Redux dia enormi vantaggi in termini di scalabilità, testabilità e manutenibilità delle nostre applicazioni frontend.
    </p>
    <br />
    <p>
      Affronteremo anche tematiche legate alla gestione degli eventi asincroni con <a href="https://redux-saga.js.org/" target="_blank">redux-saga</a>, middleware di Redux specifico per la gestione di side-effects.
    </p>
    <br />
    <p>
      Infine faremo una carrellata su altri pattern e librerie di state management e ne valuteremo insieme le differenze rispetto a Redux.
    </p>
    <br />
    <p>
      Il corso si terrà <strong>Giovedì 5 Ottobre</strong> e durerà l'intera giornata, <strong>dalle 9:30 alle 17:30</strong>.
    </p>
    <br />
    <h4>Programma</h4>
    <ul>
      <li>Il concetto di State Management</li>
      <li>Oltre MVC: le architetture unilaterali</li>
      <li>Redux: concetti base</li>
      <li>La gestione dei side-effects con redux-saga</li>
      <li>Gestione degli errori in Redux</li>
      <li>Confronto con altri pattern di State Management</li>
    </ul>
    <br /> <br />
    <a href="{{ site.data.tickets.url }}" class="button button--register">
      Acquista il biglietto
    </a>
  </div>
  <div class="row__column">
    <div class="talk__speakers">
      <span class="talk__speaker-name">
        Francesco Strazzullo
      </span>
    </div>
    <p>
      <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/francescostrazzullo.jpg" alt="Francesco Strazzullo">
    </p>
    <p>
      Frontend engineer and speaker @ <a href="https://www.extrategy.net/" target="_blank">extrategy</a>. <br>
      Also a PlayStation lover.
    </p>
    <div class="talk__twitters">
        <a href="https://twitter.com/TheStrazz86" class="talk__speaker-twitter">
          <i class="icon-twitter"></i>
          @TheStrazz86
        </a>
    </div>
  </div>
</div>
