---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='October 3rd' %}

  <div class="schedule" data-dates="10-03">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
      {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
      {% include schedule/event.html time='9.45-10.00' title='GrUSP presentation' fill='true' %}

      {% include schedule/talk.html title='Node.js: A Decade On' time='10.00-10.30' fill='true' %}
      {% include schedule/talk.html title="What's new in Node.js testing" time='10.35-11.05' fill='true' %}

      {% include schedule/pause.html time='11.05-11.30' title='Coffee break' icon="coffee" fill='true' %}

      {% include schedule/talk.html title='Designing Node.js applications for scalability, observability, maintainability and K8S deployability' time='11.30-12.15' fill='true' %}
      {% include schedule/talk.html title='I want to publish my first Open Source library' time='12.20-13.05' fill='true' %}

      {% include schedule/pause.html time='13.05-14.30' title='Lunch & Lightning Talks' icon="food" fill='true' %}

      {% include schedule/talk.html title='A world of Rest APIs...from Restify to a faster Fastify' time='14.30-15.00' fill='true' %}
      {% include schedule/talk.html title='Why GraphQL vs. Why not GraphQL' time='15.05-15.35' fill='true' %}
      {% include schedule/talk.html title='Getting Started with gRPC and Node.js' time='15.40-16.10' fill='true' %}

      {% include schedule/pause.html time='16.10-16.40' title='Coffee break' icon="coffee" fill='true' %}

      {% include schedule/talk.html title='Web Authentication - Imagine a World Without Passwords' time='16.40-17.10' fill='true' %}
      {% include schedule/talk.html title='Allegro.pl in flames' time='17.15-17.45' fill='true' %}

      {% include schedule/pause.html time='17.45-17.50' title='Bye bye from GrUSP' fill='true' %}
      {% include schedule/pause.html time='17.50-19.00' title='Happy Hour' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="10-03">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
      {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
      {% include schedule/event.html time='9.45-10.00' title='GrUSP presentation' fill='true' %}

      {% include schedule/talk.html title='Node.js: A Decade On' time='10.00-10.30' fill='true' %}
      {% include schedule/talk.html title="What's new in Node.js testing" time='10.35-11.05' fill='true' %}

      {% include schedule/pause.html time='11.05-11.30' title='Coffee break' icon="coffee" fill='true' %}

      {% include schedule/talk.html title='Designing Node.js applications for scalability, observability, maintainability and K8S deployability' time='11.30-12.15' fill='true' %}
      {% include schedule/talk.html title='I want to publish my first Open Source library' time='12.20-13.05' fill='true' %}

      {% include schedule/pause.html time='13.05-14.30' title='Lunch & Lightning Talks' icon="food" fill='true' %}

      {% include schedule/talk.html title='A world of Rest APIs...from Restify to a faster Fastify' time='14.30-15.00' fill='true' %}
      {% include schedule/talk.html title='Why GraphQL vs. Why not GraphQL' time='15.05-15.35' fill='true' %}
      {% include schedule/talk.html title='Getting Started with gRPC and Node.js' time='15.40-16.10' fill='true' %}

      {% include schedule/pause.html time='16.10-16.40' title='Coffee break' icon="coffee" fill='true' %}

      {% include schedule/talk.html title='Web Authentication - Imagine a World Without Passwords' time='16.40-17.10' fill='true' %}
      {% include schedule/talk.html title='Allegro.pl in flames' time='17.15-17.45' fill='true' %}

      {% include schedule/pause.html time='17.45-17.50' title='Bye bye from GrUSP' fill='true' %}
      {% include schedule/pause.html time='17.50-19.00' title='Happy Hour' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
