<section class="limit limit--no-overflow">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        What is it?
      </h4>
      <p class="conf-infos__text">
        Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
        Node.js Day, previously known as Node.js Italian Conference, it's an international conference dedicated to Node.js. Started and formerly organized by <a href="http://webdebs.org/">WEBdeBS</a> is now organized by GrUSP, the organizers of jsDay.
      </p>
    </div>

    <div class="conf-infos__column">
      <div class="conf-infos__logos">
          <a href="http://grusp.org" target="_blank"><img class="conf-infos__logo" src="{{ site.baseurl }}/img/logo_grusp.png" alt="GrUSP"></a>
      </div>
    </div>

  </div>
</section>
