<div class="intro intro--{{ site.data.conference.slug }}" style="background-image:url('{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/intro.jpg');">
  <div class="limit">
    <h2 class="intro__title">
      <img src="{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/{{ site.data.conference.slug }}-logo-extended.svg"
           class="intro__image"
           alt="{{ site.data.conference.name }} Logo">
    </h2>
    <h3 class="intro__where-when">
      {{ site.data.conference.where_when }}
    </h3>
  </div>

  {% if site.data.tickets.sold_out %}
    <span class="intro__register intro__register--sold-out">
      <i class="intro__icon icon-cancel"></i>
      Sold out
    </span>
  {% elsif site.data.tickets.tickets_available %}
    <a href="{{ site.data.tickets.url }}" target="_blank" class="intro__register">
      <i class="intro__icon icon-play-1"></i>
      Get tickets now
    </a>
  {% endif %}


</div>
