<div class="sponsorship">
  <div class="limit">
    <div class="sponsorship__title">
      <div class="sponsorship__title-small">
        Sponsorship
      </div>
      Options
    </div>
    <div class="sponsorship__you-can">
      You can sponsor Node.js Day in several ways:
    </div>

    <div class="sponsorship__row">
      <div class="sponsorship__row-column">
        <h4 class="sponsorship__text-title">
          Special events
        </h4>
        <p class="sponsorship__text">
          During the conference there are various moments for social aggregation between participants: 
          coffee breaks, lunch, social night, speaker's dinners and pre-dinner aperitifs. 
          Please get in touch with us to arrange the options that best suits your needs, 
          or to share a brilliant sponsoring idea.
        </p>
      </div>
      <div class="sponsorship__row-column">
        <h4 class="sponsorship__text-title">
          Full packages
        </h4>
        <p class="sponsorship__text">
          You can also choose between one of the following sponsorship packages.
          May you need any additional information just get in touch with an email to info@grusp.org.
        </p>
      </div>
    </div>
</div>
</div>
