@include block ('speakers-title') {
  margin-bottom: s(-4);
  overflow: hidden;
  position: relative;
  text-align: center;
  top: s(-4);

  @include media ('<desktop-small') {
    margin-bottom: 0;
    top: 0;
  }
}
